.space-bottom {
    margin-bottom: 30px;
}

.search-box {
    min-width: 300px;
}

/* Search Background Color */
.searchbg-color {
    background-color: #67bcd5 !important;
}

.modal-content {
    max-width: 400px;
}

/* Body Color */
.body-color {
    background-color: #F3E9E3;
}

/* Header Background */
.header-img {
    background: url(../img/header_Typeofbooklogo.png), url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: relative;
}

/* Header Background contrast */
/* .headerbg-contrast{
    backdrop-filter: contrast(50%);
} */

/* Login Card Background */
.card-bg {
    background: url(../img/logincard_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Login Card Background Blur */
.loginbg-blur {
    backdrop-filter: blur(1px);
}

/* My Book List Column Background */
.mybook-col-bg {
    background: url(../img/try3_col_bg.jpg); /* linear-gradient(rgba(93, 83, 83, 0.8),rgba(93, 83, 83, 0.8)),  */
    background-repeat: no-repeat;
    background-size: cover;
}

/* My Book List Text Color */
.mbltext-color {
    /* color: #ADD8E6; */
    color: white;
}

/* My Book List Background Blur */
.bg-blur {
    background: rgba(255, 255, 255, 0.2);
    /* backdrop-filter: blur(5px); */
    backdrop-filter: blur(10px) saturate(120%) contrast(100%);
}

/* Login Card Button/Text Color */
.conttext-color {
    color: #83652f;
}
.gitbtn-color {
    background-color: #6e5494 !important;
    color: white !important;
}
.googlebtn-color {
    background-color: #ea4335 !important;
    color: white !important;
}
.emailbtn-color {
    background-color: #67bcd5 !important;
    color: white !important;
}

/* Like Button */
.like-btn {
    width: 40px;
    height: 40px;
    background-color: #d4cdcd;
    color: white;
    justify-content: center;
    text-decoration: none;
    border: 0;
    border-radius: 50%;
}
.like-btn-red {
    width: 40px;
    height: 40px;
    background-color: #e95d5d;
    color: white;
    justify-content: center;
    text-decoration: none;
    border: 0;
    border-radius: 50%;
}

/* MyBookList dropdown */

/* .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  
  /* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
  
  .dropdown-menu a:hover {background-color: #ddd;}
  
  /* .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #258099;} */